<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Draft Helper</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <header>
    <h1>Pokemon Draft Helper</h1>
  </header>
  
  <section id="passwordChange">

  </section>
  
  <hr>

  <section id="premium">

  </section>

  <h3 id="errorText"><span id="errorMessage" classlist="hidden"></span></h3>
  <h3 id="successText"><span id="successMessage" classlist="hidden"></span></h3>

  <nav>
    <div class="navlink"><a id="backButton" href="/home">Back</a></div>
  </nav>
  <script src="/assets/accountBundle.js"></script>
</body>
</html>