<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Draft Helper</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <header>
    <h1>Pokemon Draft Helper</h1>
  </header>

  <section id="newRoster">

  </section>
  <section id="rosterList">
    
  </section>

  <h3><span id="errorMessage" classlist="hidden"></span></h3>
  
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <script src="/assets/appBundle.js"></script>
</body>
</html>